// Local import
@import 'material-design-theming';

// Normalize import
@import '~normalize-scss';

// Material Design modules import
@import '~@material/typography/mdc-typography';
@import '~@material/button/mdc-button';
@import '~@material/form-field/mdc-form-field';
@import '~@material/radio/mdc-radio';

html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
}
.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: purple;
    color: white;
    font-size: 2em;
    transition: opacity 300ms ease;
    pointer-events: none;

    &.hidden {
        opacity: 0;
    }
}

.controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 200px;
    background-color: rgba(32, 178, 170, 0.5);

    button {
        margin: 25px;
    }

    .reset-view-button {
        @include mdc-button-filled-accessible(purple);
    }

    .front-view-button {
        @include mdc-button-filled-accessible(blue);
    }

    .top-view-button {
        @include mdc-button-filled-accessible(#00ff00);
    }

    .side-view-button {
        @include mdc-button-filled-accessible(orange);
    }
}

.views {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(250, 0, 0, 0.5);

    /*.mdc-radio {
        margin: 0 15px;
    }*/
}