@use 'normalize.css/normalize.css';
// Local import
@use 'variables';
@use 'time-toggle';

// Material Design modules import
@use '@material/theme' with (
  $primary: purple,
  $secondary: #f15b27,
  $background: #ffffff,
);
@use '@material/typography' with (
    $styles-subtitle1: (
        margin: 0.5em 0,
    ),
    $styles-caption: (
        margin: 0.5em 0,
    ),
    $styles-overline: (
        margin: 0,
    )
);

@use '@material/typography/mdc-typography';
@use '@material/button';
@use '@material/radio/radio';
@use '@material/radio/radio-theme';
@use '@material/form-field';
@use '@material/checkbox';
@use '@material/drawer';
@use '@material/icon-button';
@use '@material/card';
@use '@material/list';
@use '@material/animation';

@include button.core-styles;
@include radio.core-styles;
@include form-field.core-styles;
@include checkbox.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include icon-button.core-styles;
@include card.core-styles;
@include list.core-styles;

html, body {
    margin: 0;
    font-family: 'Roboto',sans-serif; // default
    font-size: 16px;
    overflow: hidden;
    background-color: lightblue;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #babac0; // #666
    border-radius: 20px;
}

::selection {
    color: white;
    background: rgba(theme.$primary, 0.25);
}

/* Smartphone */
/*@media only screen and (max-width: 760px) {
    #some-element { display: none; }
}*/

.night-theme {
    color: white;
    @include radio-theme.unchecked-stroke-color(white);
}

.loading-container {
    position: absolute;
    top: 0;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: theme.$primary;
    color: white;
    font-size: 2em;
    transition: opacity 300ms ease;
    pointer-events: none;

    &.hidden {
        opacity: 0;
    }
}

.info-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    //height: 400px;
    background-color: rgba(255, 255, 255, 0.5);

    .project-info {
        padding: 20px;

        a {
            color: theme.$primary;
        }
    }

    .controls-container {
        height: 100%;
        padding: 15px 0;
        background-color: white;

        #controls {
            .button-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;

                button {
                    width: 125px;
                    margin: 10px;
                }
            }
        }
    }

    .reset-view-button {
        @include button.outline-color(purple);
    }

    .front-view-button {
        @include button.outline-color(blue);
    }

    .top-view-button {
        @include button.outline-color(green);
    }

    .back-view-button {
        @include button.outline-color(chocolate);
    }
}

#levels {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    //background-color: rgba(250, 0, 0, 0.5);

    label {
        cursor: pointer;
    }
}

.cards-drawer {
    display: flex;
    height: 100vh;
    border: none;

    .mdc-list {
        @include list.single-line-shape-radius(50%);
    }
}

.mdc-drawer {
    @include drawer.width(variables.$custom-drawer-width);
    position: absolute;
    right: variables.$custom-drawer-width * -1;
    transition-timing-function: animation.$standard-curve-timing-function;
    background-color: white; // rgba(255, 255, 255, 1);

    // Overwrite the open-from-left animation
    &.mdc-drawer--open {
        + .mdc-drawer-app-content {
            transition: animation.enter(transform, 200ms, 70ms);
            transform: translateX(variables.$custom-drawer-width * -1);
        }
    }

    &.mdc-drawer--closing {
        + .mdc-drawer-app-content {
            transition: animation.exit-temporary(transform, 200ms);
            transform: translateX(0);
        }
    }

    &__content {
        padding: 25px;

        .category-title {
            &:first-child {
                margin-top: 0;
            }
            &:not(:first-child) {
                padding-top: 35px;
            }
        }

        #cards {
            padding-bottom: 40vh;
        }
    }
}

.mdc-drawer-app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    .mdc-list-item__graphic {
        margin-right: 16px;
    }
}

.mdc-card {
    margin-top: 15px;
    @include card.shape-radius(5px);

    .mdc-card__media--16-9 {
        border-radius: 5px;
        background-color: theme.$primary;
    }
    &__media-content {
        display: flex;
        align-items: flex-end;
        color: white;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    &__action {
        padding: 1rem;
    }
    &__primary {
        padding: 1rem;
    }
    &__secondary {
        padding: 1rem 1rem 8px;
    }
    &__title {
        margin: 0;
    }
    &__subtitle {
        margin: 0;
    }
}

.label-card {
    .mdc-card {
        display: flex;
        flex-direction: row;

        .mdc-typography--headline6 {
            line-height: 1rem;
        }

        &__media {
            width: 125px;
            background-color: theme.$primary;
            //background-image: url('../assets/img/fallback.jpg');
        }
    }
}
