// Normalize library import
@import '~normalize-scss';

// Import theming before components
@import 'material-design-theming';

// Material Design modules import
@import '~@material/typography/mdc-typography';
@import '~@material/button/mdc-button';
@import '~@material/form-field/mdc-form-field';
@import '~@material/radio/mdc-radio';
@import '~@material/checkbox/mdc-checkbox';
@import '~@material/drawer/mdc-drawer';
@import '~@material/icon-button/mdc-icon-button';
@import '~@material/card/mdc-card';
@import '~@material/list/mdc-list';
@import '~@material/animation/functions';

html, body {
    margin: 0;
    font-family: 'Arial',sans-serif; // fallback
    font-size: 16px;
    overflow: hidden;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/*::-webkit-scrollbar-track {
    background: #ddd;
}*/

::-webkit-scrollbar-thumb {
    background: #babac0; // #666
    border-radius: 20px;
}

::selection {
    color: white;
    background: rgba($mdc-theme-primary, 0.5);
}

/* Smartphone */
/*@media only screen and (max-width: 760px) {
    #some-element { display: none; }
}*/

.loading-container {
    position: absolute;
    top: 0;
}
.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: $mdc-theme-primary;
    color: white;
    font-size: 2em;
    transition: opacity 300ms ease;
    pointer-events: none;

    &.hidden {
        opacity: 0;
    }
}

.info-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);

    .project-info {
        padding: 20px;

        a {
            color: $mdc-theme-primary;
        }
    }

    .controls-container {
        height: 100%;
        padding-top: 20px;
        padding-left: 10px;
        background-color: white;

        #controls {
            //width: 300px;

            button {
                width: 130px;
                margin: 10px;
            }
        }
    }

    .reset-view-button {
        @include mdc-button-outline-color(purple);
    }

    .front-view-button {
        @include mdc-button-outline-color(blue);
    }

    .top-view-button {
        @include mdc-button-outline-color(green);
    }

    .back-view-button {
        @include mdc-button-outline-color(chocolate);
    }
}

#levels {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    //background-color: rgba(250, 0, 0, 0.5);
}

.cards-drawer {
    .mdc-drawer {
        @include mdc-drawer-width($custom-drawer-width);
        background-color: rgba(255, 255, 255, 1);
        border: none;

        &__content {
            padding: 25px;

            .category-title {
                &:first-child {
                    margin-top: 0;
                }
                &:not(:first-child) {
                    padding-top: 35px;
                }
            }

            #cards {
                padding-bottom: 40vh; // TODO: check for large screens
            }
        }

        // Hack to overwrite the margin-right animation
        &.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content { //
            transform: translateX(-$custom-drawer-width);
            margin-right: 0;
        }
    }

    .mdc-list {
        @include mdc-list-single-line-shape-radius(8px);
    }

    .mdc-drawer-app-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0;
        height: 100%;
        transition: mdc-animation-exit-permanent(/* $name: */ transform, /* $duration: */ 175ms); // delay: 175ms
        transform: translateX(0);
        will-change: transform;
        background-color: rgba(255, 255, 255, 0.5);

        .mdc-list-item__graphic {
            margin-right: 16px;
        }
    }

    .mdc-card {
        margin-top: 15px;
        @include mdc-card-shape-radius(4px);

        &__media {
            background-color: $mdc-theme-primary;
            border-radius: 4px 4px 0 0;
            //background-image: url('../assets/img/fallback.jpg');
        }
        &__media-content {
            display: flex;
            align-items: flex-end;
            color: white;
            background-color: rgba(0, 0, 0, 0.15);
        }
        &__action {
            padding: 1rem;
        }
        &__primary {
            padding: 1rem;
        }
        &__secondary {
            padding: 1rem 1rem 8px;
        }
        &__title {
            margin: 0;
        }
        &__subtitle {
            margin: 0;
        }
    }
}


.label-card {
    .mdc-card {
        .mdc-typography--headline6 {
            line-height: 1rem;
        }

        &__media {
            width: 125px;
            background-color: $mdc-theme-primary;
            //background-image: url('../assets/img/fallback.jpg');
        }
        &__primary-action {
            display: flex;
            flex-direction: row;
        }
        &__primary {
            padding: 0 0.75rem;
        }
    }
}
