// TODO: inspiration from https://codepen.io/St1myL/pen/eQrXRe
$info-width: 4rem;

.circle-range {
    position: relative;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    background-color: transparent;
    box-sizing: border-box;
    border: 4px solid #3e3e60;
    border-radius: 50%;
    //cursor: pointer;

    .info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        background-color: #9c4dff;
        border-radius: inherit;
        width: $info-width;
        height: $info-width;
        text-align: center;
        color: white;
        font-size: initial;
        font-weight: bold;
        line-height: $info-width;
    }

    .slider {
        position: absolute;
        width: 2px;
        height: 50%;
        left: 50%;
        top: 0;
        transform: rotate(0deg);
        transform-origin: center bottom;
        background-color: #9191ff;
        //opacity: 0.5;

        &:hover {
            cursor: grab;
        }
        &::before {
            position: absolute;
            content: '';
            background-color: var(--time-bg-color);
            width: 2rem;
            height: 2rem;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}
